.center-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center-img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    color: cornflowerblue;
    text-underline: cornflowerblue;
    text-decoration: underline;

}

a:hover {
    color: skyblue;
    text-underline: skyblue;
    text-decoration: underline;
    cursor: pointer;
}